{% extends "led/base.html" %}
{% load static %}

{% block icerik %}
<div class="container kart">
  <div class="row">
    <div class="col-3">
      <div class="card animated slideInUp" style="width: 18rem;">
          <img src="{% static 'led/led.jpg' %}" class="card-img-top" alt="led">
          <div class="card-body">
            <h5 class="card-title">Led</h5>
            <p class="card-text">Internet üzerinden seçeceğiniz led'in bağlı olduğu pin'i acip kapatabilirsiniz.</p>
            <a href="{% url 'led' %}" class="btn btn-primary">Baslayın</a>
          </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card animated slideInUp" style="width: 18rem;">
          <img src="{% static 'led/ldr.jpg' %}" class="card-img-top" alt="ldr">
          <div class="card-body">
            <h5 class="card-title">LDR</h5>
            <p class="card-text">Seçeceğiniz Ldr ile ortamın ışık durumunu kontrol edebilirsiniz.</p>
            <a href="{% url 'ldr' %}" class="btn btn-primary">Baslayın</a>
          </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card animated slideInUp" style="width: 18rem;">
          <img src="{% static 'led/dht.jpg' %}" class="card-img-top" alt="dht">
          <div class="card-body">
            <h5 class="card-title">DHT</h5>
            <p class="card-text">DHT-11 sensöru kullanarak ortamın sıcaklığını olçebilirsiniz.</p>
            <a href="{% url 'dht' %}" class="btn btn-primary">Baslayın</a>
          </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card animated slideInUp" style="width: 18rem;">
          <img src="{% static 'led/serbest.webp' %}" class="card-img-top" alt="serbest">
          <div class="card-body">
            <h5 class="card-title">Serbest</h5>
            <p class="card-text">Her bir Pin'i tek tek kontrol ederek istediğiniz kontolu sağlayın</p>
            <a href="{% url 'dht' %}" class="btn btn-primary">Baslayın</a>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}