{% extends "led/base.html" %}
{% load static %}

{% block script %}
{% endblock %}

{% block icerik %}
<h1>Serbest Kontrol</h1>
<div class="container">
    <div class="row">
        <div class="col-sm">
        <button type="button" class="btn btn-primary btn-lg" id='hep_ac_btn'>Hepsini Aç</button>
        <button type="button" class="btn btn-primary btn-lg" id='hep_kapa_btn'>Hepsini Kapat</button>
        {% for pin in pins %}
            {% if ((pin.pin_numarasi)%2 == 1)  %}
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input ok" id="pin{{pin.pin_numarasi}}" value="{{pin.pin_numarasi}}">
                <label class="custom-control-label" for="pin{{pin.pin_numarasi}}">{{pin.pin_numarasi}} numaralı pin </label>
            </div>
        {% comment %} </div>
        <div class="col-sm">
            <img src="{% static 'led/pinout.png' %}" alt="pinout">
        </div>
        <div class="col-sm"> {% endcomment %}
            {% elif ((pin.pin_numarasi)%2 == 0) %}
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input ok" id="pin{{pin.pin_numarasi}}" value="{{pin.pin_numarasi}}">
                <label class="custom-control-label" for="pin{{pin.pin_numarasi}}">{{pin.pin_numarasi}} numaralı pin </label>
            </div>
            {% endif %}
        {% endfor %}
        </div> 
    </div>
</div>
{% endblock %}

{% block Son_script %}
<script>
const kontrol = () => {
    var True = 1;
    var False = 0;
    {% for pin in pins %}
    document.getElementById('pin'+'{{pin.pin_numarasi}}').checked = {{pin.pin_degeri}};
    {% endfor %}
    }
kontrol();
</script>  
<script src="{% static 'led/serbest.js' %}"></script>
{% endblock %}